machineL/.ipynb_checkpoints/task1-checkpoint.ipynb
machineL/.ipynb_checkpoints/task2-checkpoint.ipynb
machineL/.ipynb_checkpoints/task3-checkpoint.ipynb
othello/1000rounds.txt
probReasoning/RobotLocalization/.classpath
probReasoning/RobotLocalization/.project
probReasoning/RobotLocalization/.settings/org.eclipse.jdt.core.prefs
/.metadata/
*.class
*.zip
*.json
*.pyc