othello/__pycache__/GameBoard.cpython-38.pyc
othello/__pycache__/minimaxBot.cpython-38.pyc
othello/__pycache__/RandBot.cpython-38.pyc
.vscode/settings.json
machineL/__pycache__/loadtsv.cpython-38.pyc
machineL/__pycache__/vector.cpython-38.pyc
machineL/.ipynb_checkpoints/task1-checkpoint.ipynb
machineL/.ipynb_checkpoints/task2-checkpoint.ipynb
machineL/.ipynb_checkpoints/task3-checkpoint.ipynb
machineL/__pycache__/task2.cpython-38.pyc
machineL/__pycache__/task3.cpython-38.pyc
Assignment2.zip
othello/1000rounds.txt
