othello/__pycache__/GameBoard.cpython-38.pyc
othello/__pycache__/minimaxBot.cpython-38.pyc
othello/__pycache__/RandBot.cpython-38.pyc
.vscode/settings.json
machineL/__pycache__/loadtsv.cpython-38.pyc
machineL/__pycache__/vector.cpython-38.pyc
machineL/.ipynb_checkpoints/task1-checkpoint.ipynb
machineL/.ipynb_checkpoints/task2-checkpoint.ipynb
machineL/.ipynb_checkpoints/task3-checkpoint.ipynb
machineL/__pycache__/task2.cpython-38.pyc
machineL/__pycache__/task3.cpython-38.pyc
Assignment2.zip
othello/1000rounds.txt
probReasoning/RobotLocalization/.classpath
probReasoning/RobotLocalization/.project
probReasoning/RobotLocalization/.settings/org.eclipse.jdt.core.prefs
probReasoning/RobotLocalization/bin/control/EstimatorInterface.class
probReasoning/RobotLocalization/bin/control/LocalizationDriver.class
probReasoning/RobotLocalization/bin/control/Main.class
probReasoning/RobotLocalization/bin/model/DummyLocalizer.class
probReasoning/RobotLocalization/bin/view/RobotLocalizationViewer.class
probReasoning/RobotLocalization/bin/view/RobotLocalizationViewer$1.class
probReasoning/RobotLocalization/bin/view/RobotLocalizationViewer$2.class
probReasoning/RobotLocalization/bin/view/RobotLocalizationViewer$3.class
probReasoning/RobotLocalization/bin/view/RobotLocalizationViewer$4.class
probReasoning/RobotLocalization/bin/view/RobotLocalizationViewer$5.class
probReasoning/RobotLocalization/bin/view/RobotLocalizationViewer$6.class
/.metadata/
